
#head{
    text-align: center;
}
#side{
    align-content: center;
}

#flex-container{
    display: flex;
    width: flex;
    height: flex;
    text-align: center;
    
}
#side{
    flex: 40%;
    display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  background-color:#a9e9f8;
}
#main{
    flex: 60%;
    background-color: whitesmoke;

}
#submit{
    color:blueviolet;

}
#name{
    width: 400px;
    height: 20px;
}
#name1{
    width: 400px;
    height: 20px;
}
#email{
    width: 400px;
    height: 20px;
}
#num{
    width: 400px;
    height: 20px;
}
#date{
    width: 200px;
    height: 20px;
}
#add{
    width: 150px;
    height: 20px;
}
#add1{
    width: 150px;
    height: 20px;
}
#sub{
    width: 300px;
    height: 30px;
    background-color: blue;
}
#side{
    
}